.input {
  display: flex;
  width: 95%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input_submit {
  position: absolute;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 30px;
  background-color: #1a6e89;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.input_submit:hover {
  background-color: #143039;
}

.input_submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.todos {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
}

.todos__single {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29.5%;
  border-radius: 20px;
  padding: 20px;
  margin: 10px 10px;
  background-color: #485c6269;
  border: 1px solid white;
  color: white;
}

.todos__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.edit-text{
    border-radius: 20px;
    padding: 10px;
}

.todos__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .todos {
    flex-direction: column;
    align-items: center;
  }
    .todos__single {
        width: 60%;
    }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .todos {
    flex-direction: column;
    align-items: center;
  }
  .todos__single {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .todos{
    flex-direction: column;
    align-items: center;
  }
    .todos__single {
        width: 100%;
    }
}
